body {

}
h2:hover {
  color: papayawhip;
}
.todo-delete {
  display: inline-block;

}
.list-container {
  max-height: 350px;
  // overflow: auto;
}
.todos-container {
  overflow: auto;
  max-height: 180px;
}
.list-container:nth-child(5n) {
  clear: left;
}
